[submodule "vim-plugins/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-plugins/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim-plugins/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim-plugins/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-plugins/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim-plugins/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "vim-plugins/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-plugins/windowswap"]
	path = vim/bundle/windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "vim-plugins/lightline-bufferline"]
	path = vim/bundle/lightline-bufferline
	url = https://github.com/mgee/lightline-bufferline
[submodule "vim-plugins/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim-plugins/vim-toml"]
	path = vim/bundle/toml
	url = https://github.com/cespare/vim-toml
