# Classical temporary files
*~
*.swp
*.swo

# Only commit GnuPG configuration and nothing else!
gnupg/*
!gnupg/gpg.conf
!gnupg/gpg-agent.conf

# Only commit autostart file for LXDE's lxsession
config/lxsession
!config/lxsession/LXDE/autostart
